*
{
	margin: 0;
	padding:0;
	transition: .4s ease;
}

body,html
{
	width: 100%;
	height: 100%;
	font-family: montserrat;
	background: #d83a6b;
    background: -webkit-radial-gradient(top right, #d83a6b, #79348f);
    background: -o-radial-gradient(top right, #d83a6b, #79348f);
    background: -moz-radial-gradient(top right, #d83a6b, #79348f);
    background: radial-gradient(at top right, #d83a6b, #79348f);
	overflow: hidden;
}


.whole
{
	width: 200%;
	height: 100%;
	overflow: hidden;
    position: relative;
    text-align: center;
    position: relative;
    left: 0;
    transition: 1s ease;
}

.logo
{
	width: 150px;
	height: 100px;
	background: url(logo_white.png) 50% 50% no-repeat;
	background-size: contain;
	position: fixed;
	top: 20px;
	left: 50px;
}

.login
{
	width: 49%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
}

.signup
{
	width: 49%;
	height: 100%;
	display: inline-block;
	overflow: hidden;

}

.container
{
	width: 350px;
	height: auto;
	border-radius: 5px;
	background: #eee;
    background: -webkit-linear-gradient(left, #eee, #efefef);
    background: -o-linear-gradient(left, #eee, #efefef);
    background: -moz-linear-gradient(left, #eee, #efefef);
    background: linear-gradient(left, #eee, #efefef);
    margin:auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

input[type="text"]
{
	border: none;
	background: none;
	outline: none;
	padding:10px;
	display: block;
	margin:20px auto;
	color: #e54778;
	border-bottom: 1px solid #aaa;
}

input[type="password"]
{
	border: none;
	background: none;
	outline: none;
	margin:20px auto;
	padding:10px;
	display: block;
	border-bottom: 1px solid #aaa;
	color: #e54778;
}

input[type="email"]
{
	border: none;
	background: none;
	outline: none;
	margin:20px auto;
	padding:10px;
	display: block;
	border-bottom: 1px solid #aaa;
	color: #e54778;
}

p
{
	width: : 100%;
	text-align: center;
	color: #aaa;
}

input[type="submit"]
{
	border: none;
	background: none;
	outline: none;
	width: 150px;
	height: 45px;
	background: #e54778;
	border-radius: 5px;
	color: #eee;
	letter-spacing: 1px;
	font-weight: 600;
	margin:20px auto;
	text-align: center;
	display: block;
	cursor: pointer;
	box-shadow: 0px 4px 10px #cdcdcd;
}

input[type="submit"]:hover
{
	background: #d83a6b;
}

button
{
	border: none;
	background: none;
	outline: none;
	color: #d83a6b;
	letter-spacing: 1px;
	font-weight: 600;
	margin:25px auto;
	text-align: center;
	display: block;
	border-bottom: 1px solid transparent;
	padding-bottom: 5px;
	cursor: pointer;
}

button:hover
{
	border-bottom: 1px solid #d83a6b;
}


input:focus
{
	border-bottom: 1px solid #d83a6b;

}

div.upload {
   	border: none;
	background: none;
	outline: none;
	width: 150px;
	height: 38px;
	color: #30b9db;
	background:#e54778;
	letter-spacing: 1px;
	font-weight: 600;
	margin:20px auto;
	text-align: center;
	display: block;
	cursor: pointer;
	overflow: hidden;
	margin-top: 30px;
	position: relative;
}

.upload::before
{
	content: "Upload Photo";
	font-family: lato;
	font-weight: 400;
	color: #fff;
	font-size: .8em;
	letter-spacing: 1px;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	line-height: 38px;
	margin:auto;
}

.upload span
{
	color: #30b9db;
	font-weight: 600;
	font-size: .8em;
	line-height: 38px;
	position: relative;
	top: 0;
}

.upload:hover > span
{
	position: relative;
	top: -100%;	
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor: pointer;
    background: transparent;
}

@media(max-width: 550px)
{

	.logo
	{
		top: 20px;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	.container
	{
		width: 300px;
	    padding: 10px;
	}


}

@media(max-width: 350px)
{
	
	.container
	{
		width: 250px;
		height: auto;
		border-radius: 5px;
	    padding: 20px 5px;
	}

	input[type="submit"]
	{
		width: 120px;
		height: 40px;
		margin:20px auto;
		margin-top: 30px;
	}

}

@media(max-width: 350px)
{
	.logo
	{
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.container
	{
		width: 250px;
		height: auto;
		border-radius: 5px;
	    padding: 20px 5px;
	}

	input[type="submit"]
	{
		width: 120px;
		height: 40px;
		background: #e54778;
		border-radius: 5px;
		color: #eee;
		font-weight: 600;
		margin:20px auto;
		margin-top: 30px;
	}

}