*
{
	margin: 0px;
	padding: 0px;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
}

body,html
{
	width: 100%;
	height: 100%;
	font-family: Raleway,Lato,sans-serif;
	background: url(back2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.header
{
	width: 100%;
	height: 65px;
	background: none;
	position: fixed;
	top: 0;
	z-index: 9999999999999999999999;
	left: 0;
}

.headerchange
{
	width: 100%;
	height: 65px;
	box-shadow: 0px 0px 4px #aaa;
	background: #fff;
}

.links
{
	position: absolute;
	right: 30px;	
}

a
{
	text-decoration: none;
	color: #fff;
	margin: 5px;
	font-size: .9em;
	padding: 5px;
	line-height: 65px;
	position: relative;
	font-weight: 500;
	padding-bottom: 10px;
	letter-spacing: 1px;
}

.headerchange a
{
	color: #222;
}

.header .curr
{
	color: #cd2e63;
	font-weight: 800;
}


a:hover:after{
	width: 100%;
}

a::after
{
	content: "";
	display: inline;
	width: 0%;
	height: 2px;
	background: #eee;
	position: absolute;
	transition: .3s ease;
	bottom:0px;
	left: 0px;
}

.curr::after
{
	background: transparent;
}

.links button
{
	width: 130px;
	height: 40px;
	background: none;
	border: none;
	outline: none;
	font-weight: 500;
	color: #eee;
	background: #cd2e63;
	border-radius: 2px;
	cursor: pointer;
	margin: 0 10px;
}

button:hover
{
	background: #b92959;
}

.section1
{
	width: 100%;
	height: 100%;
}

.section1 img
{
	width: 300px;
}

.black
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);

}

.section1 .content
{
	width: 70%;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	text-align: center;
	margin-top: 10%;
}

.section1 h1
{
	font-weight: 700;
	font-size: 3.4em;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #c93356;
}

.section1 h3
{
	letter-spacing: 1px;
	word-spacing: 1px;
	color: rgba(255,255,255,0.5);
}

.section1 p
{
	font-family: Lato;
	font-weight: 300;
	color: #eee;
	letter-spacing: 1px;
}

.section1 button
{
	background: none;
	border: none;
	outline: none;
	font-family: Lato;
	letter-spacing: 1px;
	background: #eee;
	padding: 15px;
	border-radius: 2px;
	margin: 10px;
	color: #c93356;
	position: relative;
	top: 0px;
	cursor: pointer;
}

.section1 .download
{
	background: #c93356;
	color: #eee;
}

.pink
{
	color: #c93356;	
}

.light
{
	color: #444;
	line-height: 1.4em;
}

.section2
{
	width: 80%;
	margin: auto;
	padding: 30px 10%;
	position: relative;
	overflow: hidden;
	background: #fefefe;
}

.section2 h2
{
	font-size: 1.6em;
	text-align: center;
	letter-spacing: 1px;
	font-family: Lato;
	margin: 0;
	margin-top: 20px;
}

.section2 .starter
{
	margin: 0px;
	font-weight: 500;
}

.section2 h5
{
	margin: 20px 0 5px 10px;
	font-size: .9em;
}

.section2 p
{
	margin: 10px;
	font-weight: 500;
}

.hidden
{
	width: 100%;
	height: 0px;
	overflow: hidden;
	position: relative;
	transition: 1s ease;
}

.fullContainer
{
	width: 100%;
	overflow: hidden;
	height: auto;
	position: absolute;
	top: 0;
	left:0;
}


.section2 h3
{
	margin: 20px 10px 0 20px;
	font-weight: 700;
}

.section2 .hidden p
{
	font-weight: 400;
	margin: 20px 10px 0 30px;
}

.section2 .hidden p span
{
	font-weight: 600;
	color: #000;
}


.section3
{
	width: 100%;
	height: auto;
	background: #fefefe;
	text-align: center;
	padding: 50px 0;
}

.section3 .box
{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.box img
{
	width: 50%;
	transform: scale(0.9);
	filter: grayscale(1);
	text-align: center;
}

.box h3
{
	font-weight: 400;
	font-size: 1.6em;
}

.box p
{
	width: 80%;
	line-height: 1.6em;
	font-size: .9em;
	text-align: justify;
	font-weight: 500;
	margin: 10px auto 0 auto;

}

.box:hover > img
{
	filter: grayscale(0);
	transform: scale(1);
}

.section2 button
{
	background: none;
	border: none;
	outline: none;
	font-family: Lato;
	letter-spacing: 1px;
	background: transparent;
	padding: 15px;
	border-radius: 2px;
	margin: 10px;
	color: #c93356;
	position: relative;
	text-align: center;
	top: 0px;
	cursor: pointer;
}

.section2 button:hover
{
	background: #c93356;
	color: #eee;
}

.section3 button
{
	background: none;
	border: none;
	outline: none;
	font-family: Lato;
	letter-spacing: 1px;
	background: transparent;
	padding: 15px;
	border-radius: 2px;
	margin: 10px;
	color: #c93356;
	position: relative;
	top: 0px;
	cursor: pointer;
}

.section3 button:hover
{
	background: #c93356;
	color: #eee;
}

.section4
{
	width: 100%;
	background: #fefefe;
	height: auto;
	padding-top: 0px;
}

.section4 h2
{
	font-size: 1.6em;
	text-align: center;
	font-family: Lato;
	letter-spacing: 1px;
}

.section4 p
{
	font-size: 1em;
	margin-bottom: 20px;
	color: #444;
	text-align: center;
	font-family: Lato;
}

.lineBox
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
}

.b1
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/clock.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b2
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/code.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b3
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/upload.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b4
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/file.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b5
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/news.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b6
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/manager.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b7
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/viewer.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.b8
{
	width: 25%;
	height: 300px;
	order: 1;
	background: url(bgs/meta.jpg) 50% 50% no-repeat;
	background-size:cover;
	margin: 0;
}

.overlay
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.overlay h3
{
	text-align: center;
	color: #eee;
	letter-spacing: 1px;
	font-size: 2em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.overlay
{
	opacity: 0;
	cursor: default;
}

.bb:hover  .overlay
{
	opacity: 1;
}

.section5
{
	width: 100%;
	height: auto;
	padding: 0 0 40px 0;
	background: #fff;
	overflow: hidden;
}

.section5 h2
{
	font-size: 1.6em;
	text-align: center;
	font-family: Lato;
	letter-spacing: 1px;
}

.section5 p
{
	font-size: 1em;
	margin-bottom: 20px;
	color: #444;
	text-align: center;
	font-family: Lato;
}

.section5 .works
{
	display: flex;
	flex-wrap: wrap;
	align-items:baseline;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.section5 .boxy
{
	width: 33%;
	order:1;
	height: auto;
	padding: 20px 0;
}

.section5 .boxy img
{
	width: 30%;
	position: relative;
	left: 35%;
	right: 0;
	margin: auto;
	filter: grayscale(1);
	text-align: center;
}

.section5 .boxy:hover img
{
	filter: grayscale(0);
}

.section5 button
{
	background: none;
	border: none;
	outline: none;
	font-family: Lato;
	letter-spacing: 1px;
	background: transparent;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid transparent;
	color: #c93356;
	position: relative;
	top: 0px;
	cursor: pointer;
}

.section5 button:hover
{
	padding-bottom: 10px;
	border-bottom: 2px solid #c93356;
}

.section5 .boxy h3
{
	font-weight: 400;
	text-align: center;
	font-size: 1.6em;
}

.section5 .boxy p
{
	width: 80%;
	line-height: 1.6em;
	font-size: .9em;
	text-align: center;
	font-weight: 500;
	margin: 10px auto 0 auto;

}



.contact
{
	width: 100%;
	height: auto;
	background:  rgba(0,0,0,.8);
	overflow: hidden;
	padding: 30px 0;
}

.contact h1
{
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 2px;
	font-weight: 700;
	font-size: 2em;
	color: #eee;
}

input[type="email"]
{
	display: block;
	background: none;
	border: none;
	outline: none;
	border-bottom:1px solid #eee;
	margin: 10px auto;
	width: 250px;
	height: 40px;
	text-align: center;
	color: #eee;
	letter-spacing: .1em;
}

input[type="submit"]
{
	display: block;
	background: none;
	border: none;
	outline: none;
	border:1px solid #eee;
	margin: 10px auto;
	width: 300px;
	height: 45px;
	text-align: center;
	color: #eee;
	letter-spacing: .1em;
	cursor: pointer;
	transition: .5s ease;

}

input[type="submit"]:hover
{
	background: rgba(255,255,255,0.3);
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
}


.follow
{
	padding: 20px 0;
	background: rgba(0,0,0,0.9); 
	background: -webkit-linear-gradient( rgba(0,0,0,0.8),  rgba(0,0,0,1)); 
	background: -o-linear-gradient( rgba(0,0,0,0.8),  rgba(0,0,0,1)); 
	background: -moz-linear-gradient( rgba(0,0,0,0.8),  rgba(0,0,0,1)); 
	background: linear-gradient( rgba(0,0,0,0.8),  rgba(0,0,0,1));
	text-align: center;
	font-family: Lato;
}

.follow h3
{
	text-align: left;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 500;
	font-size: 1.3em;
	color: #eee;
}

.follow .conn h3
{
	text-align: center;
}

.follow .conn p
{
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	left: 0px;
}

.follow .conn p:hover
{
	left: 5px;	
}

.follow .socio
{
	text-decoration: none;
	list-style: none;
	text-align: center;
	margin-right: auto;
    margin-left: auto;
}


.fb,.tw,.bl
{
	display: inline-block;
	margin: 10px 5px;
	width: 40px;
	height: 40px;
	transition: .5s ease;
	border-radius: 10px;
}

.fb:hover
{
	background: #434c9a;
	border-radius: 100%;
}

.tw:hover
{
	background: #24baee;
	border-radius: 100%;
}

.bl:hover
{
	background: #0d2636;
	border-radius: 100%;
}

.follow .socio img
{
	width: 40px;
}

.float
{
	display: inline-block;
	width: auto;
	padding: 0 80px;
	color: #eee;
	vertical-align: top;
	text-align: left;
}

.float p
{
	text-align: left;
	line-height: 1.7em;
	position: relative;
	left: 5px;
	cursor: pointer;
	font-weight: 300;
	font-size: .8em;
}

.float p:hover
{
	left: 10px;
}

.footer
{
	width: 100%;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #eee;
	font-size: 0.8em;
	text-align: center;
	background: #000;
}


@media (max-width: 700px){

	.contact h3
	{
		font-size: 1.3em;
	}

} 

@media (max-width: 600px){

	.contact h3
	{
		font-size: 1em;
	}

	.fb,.tw,.bl
	{
		width: 35px;
		height: 35px;
		transition: .5s ease;
		border-radius: 10px;
	}

	.follow .socio img
	{
		width: 35px;
	}


}


@media (max-width: 450px){

	input[type="email"]
	{
		border:1px solid #eee;
		margin: 10px auto;
		width: 200px;
		height: 40px;
		text-align: center;
		color: #eee;
		font-size: .7em;
		letter-spacing: .1em;
	}

	input[type="submit"]
	{
		margin: 10px auto;
		width: 200px;
		height: 45px;
		text-align: center;
		color: #eee;
		letter-spacing: .1em;
		font-size: .7em;
		transition: .5s ease;

	}

} 



@media (max-width: 300px){

	input[type="email"]
	{
		margin: 10px auto;
		width: 170px;
	}

	input[type="submit"]
	{
		margin: 10px auto;
		width: 170px;
		height: 45px;
		font-size: .65em;
	}

} 


@media (max-width: 200px){

	input[type="email"]
	{
		margin: 10px auto;
		width: 120px;
		height: 30px;
	}

	input[type="submit"]
	{
		margin: 10px auto;
		width: 120px;
		height: 35px;
		font-size: .65em;
	}

	.follow .socio img
	{
		width: 25px;
	}

	.fb,.tw,.bl
	{
		width: 25px;
		height: 25px;
	}

} 