
@media (max-width:930px){

	.alumni .al
	{
		font-size: 0.9em;
		width: 33.333%;
	}

}


@media (max-width:640px){

	.alumni .al
	{
		font-size: 0.9em;
		width: 50%;
	}
}

@media (max-width:500px){

	.alumni .al
	{
		font-size: 0.8em;
		width: 50%;
	}


	.top h1
	{
		margin-top: 4em;
	}


	.top p
	{
		line-height: 1em;
		font-weight: 300;
	}

	.top img
	{
		position: absolute;
		left:0px;
		top: 0px;
		right: 0;
		margin: auto;
		text-align: center;
		width: 200px;
	}


}

@media (max-width:410px){

	.alumni .al
	{
		font-size: 0.7em;
		width: 50%;
	}

	.alumni .al p
	{
		font-size: 1em;
	}

	.top h1
	{
		margin-top: 4em;
		font-size: 2.5em;
	}


	.top p
	{
		line-height: 1em;
		font-weight: 300;
		font-size: 1.7em;

	}
}

@media (max-width:350px){

	.extraHide
	{
		display: none;
	}

	.alumni h1
	{
		font-size: 1.5em;
	}

	.alumni p
	{
		font-size: 0.9em;
		margin: 0px;
	}

	.footer
	{
		font-size: 0.8em;
	}

}

@media (max-width:300px){
	.container
	{
		width: 98%;
		margin: 0px 1%;
	}

	button
	{
		width: 125px;
		height: 45px;
	}

	.alumni button p
	{
		font-size: 14px;
		line-height: 45px;
	}

	.alumni .al
	{
		font-size: 0.94em;
		width: 100%;
		margin:0px;
	}

	.al h3
	{
		margin-top:18px;
		font-size: 1.1em;
		font-weight: 500;
	}

	.alumni .al p
	{
		font-size: 1em;
	}


	.footer
	{
		font-size: 0.6em;
	}

	.top h1
	{
		margin-top: 4em;
		font-size: 2em;
	}


	.top p
	{
		line-height: 1em;
		font-weight: 300;
		font-size: 1.3em;

	}


}


@media (max-width:200px){


	button
	{
		width: 125px;
		height: 45px;
		margin-top: -20px;
	}

	.alumni button p
	{
		font-size: 14px;
		line-height: 45px;
	}

	.alumni .al
	{
		font-size: 0.7em;
		width: 100%;
		margin:0px;
	}



	.footer
	{
		font-size: 0.5em;
	}

	.top h1
	{
		margin: 10px;
		margin-top: 4em;
		font-size: 1.5em;
	}


	.top p
	{
		margin: 10px;
		line-height: 1.2em;
		font-weight: 300;
		font-size: 1.3em;

	}

}